body {
    
      font-family: 'Permanent Marker', cursive;
      background: url("1234.jpg");
  } 
  .font-effect-anaglyph { 
    font-size: 100px;
  
  }
  .font-effect-3d {
    font-size: 30px;
    color: red;
    margin: 30px;
    
  }
  .font-effect-fire-animation {
    font-size: 20px;
    margin: 30px;
  }
 p {
     color:red;
 }

b {
  color:WHITE;
  position: absolute;
  bottom: 32px;
  left: 16px;
  font-size: 18px;
}

form {
  color:violet;
  position: absolute;
  bottom: 8px;
  left: 16px;
  font-size: 18px;
}

img {
  position:fixed;
  top: 10px;
  left: 1px;
  float: left;
  
}

audio {
  display:none;
  
}
